body {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button img {
    width: 2rem;
    height: 2rem;
}

button {
    display: flex;
    align-items: center;

    gap: .4rem;
    padding: .4rem;
    line-height: 0;
}

button:hover {
    cursor: pointer;
}